body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-color: rgb(230 230 230);
}

.opste {
	width: 80%;
	margin: auto;
	height: 1500px;
	width: 1000px;
}

header {
	position: fixed;
	top: 0;
	z-index: 5;
	width: 100%;
	margin: auto;
	background-color: orange;
}

header h1 {
	text-align: center;
}

main {
	position: relative;
	top: 100px;
	width: 300px;
}

main h2 {
	text-align: center;
}

main p {
	text-align: center;
	font-family: sans-serif;
}

.grid {
	display: grid;
	height: 1500px;
	width: 1000px;
	grid-template: 1fr 1fr 1fr 1fr 1fr / 1fr 1fr 1fr;
	grid-gap: 10px;
}

.grid .prva {
	background-color: rgb(240 240 240);
	border: black 1px solid;
	grid-area: 1 / 1 / 3 / 2;
}

.grid .druga {
	background-color: rgb(240 240 240);
	border: black 1px solid;
	grid-area: 1 / 2 / 2 / 4;
}

.grid .treca {
	background-color: rgb(240 240 240);
	border: black 1px solid;
	grid-area: 2 / 2 / 3 / 4;
}